.wrapper {
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   background-color: var(--gray-light);
   max-width: 800px;
   margin-top: 8px;
   padding: 6px 16px;
   width: auto;

   &:hover {
      background-color: #e4e4e4;
   }
}

.header {
   font-weight: 700;
   font-size: 2rem;
}

.body {
   font-size: 1.4rem;
}
