.wrapper {
   display: flex;
   flex-direction: column;
   border: 1px solid #e4e4e4;
   border-radius: 8px;
   max-width: 800px;
   margin-top: 50px;
   width: auto;
}

.content {
   padding: 20px;
   justify-content: left;
   text-align: left;
}

.button {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
