.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.content {
   max-width: 800px;
}

.title {
   text-align: start;
}

.action-buttons {
   margin-top: 16px;
   text-align: start;
}

.btn-submit {
   margin-top: 16px;
   text-align: end;
}
